shhhhh

<form action = '/update_post' method='post' id='create_form'>
  <p>Pick a category:  <select name="category_name" form="create_form">
    <%Category.all.each do |category|%>
      <%if category.id == @post.category_id%>
        <option value="<%=category.name%>" selected="selected"><%=category.name%><option>
      <%else%>
        <option value="<%=category.name%>"><%=category.name%><option>
      <%end%>
    <%end%>
  </select>
  <p>Item name:</p>
  <input type="text" name="name" value="<%= @post.name %>">
  <p>Item description:</p>
  <textarea rows="10" cols="50" name="description" form="create_form"><%= @post.description %></textarea>
  <p>Item price:</p>
  <input type= "text" name="cost" value="<%= to_money(@post.cost) %>">
  <p>Your email:  <input type="text" name="email" value="<%= @post.email %>"></p>
  <p><input type = "submit" value = "Edit that foxy item!"></p>
</form>
