<h2>POSTED!</h2>
<div class="results">
  <p>Congratulations, you've posted your item!</p>
  <p>You can edit your item from here, or return to the main page.  Bookmark this page</p>
  <p>if you would like to be able to come back and edit your item in the future.</p>
</div>

<form id="updater" action = '/update_post' method='post' id='create_form'>
  <p>Pick a category:      <select name="category_name" form="create_form">
    <%Category.all.each do |category|%>
      <%if category.id == @post.category_id%>
        <option value="<%=category.name%>" selected="selected"><%=category.name%><option>
      <%else%>
        <option value="<%=category.name%>"><%=category.name%><option>
      <%end%>
    <%end%>
  </select>
  <p>Item name:<input class="textbox" type="text" name="name" value="<%= @post.name %>"></p>
  <p>Item description:</p>
  <textarea rows="10" cols="50" name="description" form="create_form"><%= @post.description %></textarea>
  <p>Item price:<input class="textbox" type= "text" name="cost" value="<%= @post.cost %>"></p>
  <p>Your email:  <input class="textbox" type="text" name="email" value="<%= @post.email %>"></p>
  <p style="display: none;"> <input type="text" name="url" value="<%= @post.url %>"></p>
  <p class="first_submit"><input class="submit" type = "submit" value = "Edit that foxy item!"></p>
</form>

<form class="bottom_submit" action= '/delete_post' method='post' id='delete_post'>
  <input class="submit" type = "submit" value = "DELETE that foxy item!">
</form>
